#Ignore generated python files
app/__pycache__/*

#Do not store database in version control
app/*.db

#Do not store mkdocs deployment files in version control
site/*

#Do not store images in version control
app/static/images/*

#Do not store venv files in version control
venv/*