
body {
    background-color: #efc88b;
}

.p {
    margin-left: 100px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title {
    text-align: center;
    color: #Cf5c36;
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.login {
    border: 5px solid #000000;
  border-style: ridge;
    background-color: #eee5e9;
    text-align: center;
    padding: 16px;
  margin-left: 380px;
  margin-right: 380px;

  
  }

button {
    background-color: #7c7c7c;
    color: white;
    padding: 16px 20px;
    margin: px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }

.btn-sm {
    background-color: #7c7c7c;
    color: white;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
}

.pswd {
  text-align: center;
}

button:hover {
    opacity: 0.8;
  }
