<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title> {% block title %}{% endblock %}</title>
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/signup">Sign Up</a>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/logout">Logout</a>
            <a class="nav-link" href="/newlisting">Create Listing</a>
            <a class="nav-link" href="/cart">Cart ({{session['Shoppingcart']|length}})</a>
          </div>
          <form class="d-flex input-group w-auto" action="/search">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Search"
              aria-label="Search"
              name = 'q'
            />
            <button class="d-flex btn my-sm-0" type="submit">Search</button>
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </form>
        </div>
      </nav>
          {% block head %}{% endblock %}
          {% with messages = get_flashed_messages() %} 
            {% if messages %}
              {% for message in messages %}
              <p>{{message}}</p>
              {% endfor %}
            {% endif %} 
          {% endwith %}

          {% if form %}
            {% for field, errors in form.errors.items() %}
              <p>{{errors[0]}}</p>
            {% endfor %}
          {% endif %}

          {% block content %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>