{% extends "base.html" %}
{% block title %} FreEbay Cart {% endblock%}
{% block head %}<h1>{{title}}</h1>
<p><b>Fake Cards Only, Please</b></p>{% endblock %}
{% block content %} 
<link rel = "stylesheet" href = '/static/listingcard.css'>

<form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{ form.number.label}}<br />
      {{ form.number(size=16) }}
    </p>
    <p>
      {{ form.name.label }}<br />
      {{ form.name}}
    </p>
    <p>
      Expiration {{form.expire_month}} / {{form.expire_year}}
    </p>
    <p>
      {{ form.cvv.label }}<br />
      {{ form.cvv}}
    </p>
    <p>{{ form.submit() }}</p>
  </form>

  {% endblock %}