{% extends "base.html"%}
{% block title %} Edit My Profile {% endblock %}
{% block head %}<h1>{{username}}'s Bio</h1>{% endblock %}
{% block content %} 
<link rel = "stylesheet" href = '/static/listingcard.css'>
    <form action="" method="POST">
        {{ bio_form.hidden_tag() }}
        <p>
            {{ bio_form.user_bio.label }}<br>
            {{ bio_form.user_bio(size=100) }}
	<p>
        <p>{{ bio_form.submit() }}</p>
    </form>
    <a href="/delete" class="btn btn-primary">Delete Account</a>
    
{% endblock %}