{% extends "base.html" %}
{% block title %} FreEbay Home {% endblock %}
{% block content %}
<head>
  <div class = "title">
    <h1>Welcome to FreEbay!!</h1>
  </div>
  <link rel = "stylesheet" href = '/static/listingcard.css'>

</head>

  <div class = 'p'> First time? Please sign up! <form action = "/signup" method="GET" >  
    <button type="submit" class="btn-sm">Register</button>
  </form> </div>
  <br>
  <div class = 'p'>Returning user? Make sure you're logged in: <form action = "/login" method="GET" >  
    <button type="submit" class="btn-sm">Login</button>
  </form></div>
  <br>
  <div class = 'p'>Already logged in? Why not make a post! <form action = "/newlisting" method="GET" >  
    <button type="submit" class="btn-sm">Create Listing</button>
  </form></div>


<hr>
<div class = 'head-sm'> Current Items for Sale
</div>
<div class="container">
  <div class="row">
      <table class="table table-sm">
          <thead>
              <th>Image</th>
              <th>Title</th>
              <th>Description</th>
              <th>Price</th>
              <th>Details</th>
          </thead>
          <tbody>
              {% if items %}
              {% for item in items %}
              <tr>
                  <td><img src="{{item.image}}" width="auto" height="100px"/></td>
                  <td>{{item.title}}</td>
                  <td>{{item.description}}</td>
                  <td>${{item.purchase_price}}</td>
                  <td><a href="/listing/{{item.id}}" class='btn btn-sm'>Details</a></td>
              </tr>
              {% endfor %}
              {% else %}
              <p> No items match that description. You're outta luck</p>
              {% endif %}
          
          </tbody>
      </table>
{% endblock %}