{% extends "base.html" %}
{% block title %} {{title}} {% endblock%}
{% block content %}
<!doctype html>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<title>{{title}}</title>
<h1>{{title}}</h1>
<body>
  <p>{{listing}}</p>
  <p>{{description}}</p>
  {% if for_purchase %}
  <p>{{price}}</p>
  {% endif %} {% if filename %}
  <div class="column">
    <img src="{{ url_for('display_image', filename=filename) }}" />
  </div>
  {% endif %}
</body>
{% endblock %}
