{% extends "base.html" %}
{% block title %} {{title}} {% endblock%}
{% block head %}<h1>{{title}}
  {% if listing.sold %}
  - SOLD to {{listing.buyer.username}}
  {% endif %}
</h1>{% endblock %}
{% block content %}
  <p>{{listing.title}}</p>
  <p>{{description}}</p>
  {% if for_purchase and not listing.sold %}
  <p>{{price}}</p>
            <p><form action = "/addcart" method="POST" >  
                <input type="hidden" name= "listing_id" value= "{{listing.id}}">
                <label for="quantity">Quantity: </label>
                <input type="number" name = "quantity" id ="" value="1", min="1" max="None">
                <button type="submit" class="btn btn-sm btn-warning"> Add to Cart</button>
              </form></p>
  {% endif %}
  {% if accepts_bids %}
    {% if highest_bid %}
      <p>Highest bid is: {{highest_bid}}</p>
    {% endif %}
    {% if form %}
    <form action="" method="post" novalidate enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <p>{{form.price}} {{form.submit()}}</p>
    {% endif %}
  {% endif %}
  {% if filename %}
  <div class="column">
    <img src="{{ url_for('display_image', filename=filename) }}" />
  </div>
  {% endif %}
{% endblock %}
