{% extends "base.html"%}
{% block title %} Login {% endblock %}
{% block content %} 
<html>
<head>
  <link rel = "stylesheet" href = '/static/cartformats.css'>
  <div class = "title">
    <h1>Login here!</h1>
  </div>
</head>

<div class = "login">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
	<p>
	    {{ form.password.label }}<br>
	    {{ form.password(size=32) }}
        <p>{{ form.submit() }}</p></form>
        <p>Need an account? Register here: 
          <form action = "/signup" method="GET" >  
          <button type="submit" class="btn btn-sm btn-warning">Signup</button>
        </form></p>
    <button onclick="myFunction()">Forgot Password?</button>
    <p id="lol"></p>
    <script>
      function myFunction() {
        document.getElementById("lol").innerHTML = "Too bad. Try again";
      }
    </script>
    </div>
    </html>
{% endblock %}