{% extends "base.html"%}
{% block title %} My Account {% endblock %}
{% block head %}
    <div class = "title">
        <h1>{{username}}'s Profile</h1>
    </div>
{% endblock %}
{% block content %} 
<link rel = "stylesheet" href = '/static/listingcard.css'>
<div class = "h1">
    <h2>About {{username}}:</h2>
</div>  

<div class = "bio">
    {% if bio %} 
    <div class = "normal">
        <normal>{{bio}}</normal>
    </div>  
    {% else %}
    <p>Go to /profile/edit/ to set your bio!</p>
    {% endif %}
    {% if show_buttons %}
        <form action = "" method="POST" >  
            {{ form.hidden_tag() }}
                {{ form.submit }}
        </form>
    {% endif %}
</div>

<hr>

<div class = "h1">
    <h2>{{username}}'s Collection</h2>
</div>

{% if items.first() %}
<div class="container">
    <div class="row">
        <table class="table table-sm">
            <thead>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Details</th>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td><img src="{{ url_for('static', filename='images/' + item.image) }}" width="auto" height="100px"/></td>
                    <td>{{item.title}}</td>
                    <td>{{item.description}}</td>
                    <td><a href="/listing/{{item.id}}" class='btn btn-sm'>Details</a></td>
                </tr>
                {% endfor %}

            
            </tbody>
        </table>
    </div>
</div>
{% else %}
<p>No items to display in your collection, try buying some!</p>
{% endif %}

{% if show_buttons %}
    <p>Press the button below to permanently, irretrievably delete your account</p>
    <form action = "/delete/{{username}}/" method="POST" > 
        <button type="submit" class="btn btn-delete">Delete Account</button>
    </form>
{% endif %}
{% endblock %}