{% extends "base.html"%}
{% block title %} My Account {% endblock %}
{% block head %}<h1>{{username}}'s Profile</h1>{% endblock %}
{% block content %} 
<link rel = "stylesheet" href = '/static/listingcard.css'>
<h2>About {{username}}:</h2>   
{% if bio %} 
<p>{{bio}}</p>
{% else %}
<p>Go to /profile/edit/ to set your bio!</p>
{% endif %}
<hr>
<div class = 'head-sm'> {{username}}'s Collection
</div>
{% if items.first() %}
<div class="container">
    <div class="row">
        <table class="table table-sm">
            <thead>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Details</th>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td><img src="{{ url_for('static', filename='images/' + item.image) }}" width="auto" height="100px"/></td>
                    <td>{{item.title}}</td>
                    <td>{{item.description}}</td>
                    <td><a href="/listing/{{item.id}}" class='btn btn-sm'>Details</a></td>
                </tr>
                {% endfor %}

            
            </tbody>
        </table>
    </div>
</div>
{% else %}
<p>No items to display in your collection, try buying some!</p>
{% endif %}
{% endblock %}